/* Fonts
font-family: 'Inter', sans-serif;
font-family: 'Noto Sans', sans-serif;

/* Universal Settings */
:root{
    scroll-behavior: smooth;
    --body-font: 'Noto Sans', sans-serif;
    --header-font: 'Cabinet Grotesk', 'Noto Sans', sans-serif;
}

*{
    font-family: var(--body-font);
    transition: ease 0.5s;
}

h1, h2, h3, h4{
    font-family: var(--header-font);
}

/* Navbar  */
.nav-link{
    color: var(--bs-body-color);
}

/* Jumbotron  */
.cityBackground {
    /* height: calc(100vh - 25px); */
    background-image: url(../images/background-image-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

/* .customJumbo {
    height: 100vh;
    padding: 10px;
    text-align: center;
} */

/* #logo {
    height: 80%;
    align-items: center;
} */

.search-area {
    background-color: #EDEDE3;
    width: 80%;
    max-width: 680px;
    margin: 0 auto;
    padding: 20px;
}

.cityBackground .btn {
    background-color: #83C2AF;
    border: none;
    transition: 0.75s ease-in-out;
}

.cityBackground .btn:hover {
    background-color: #68e2be;
    scale: 1.2;
    border: none;
    transition: 0.75s ease-in-out;
}

/* Second page */
#secondPage{
    min-height: 100vh;
    font-weight: 300;
}

#locationInfo, #map{
    /* max-height: 100vh; */
    overflow-y: auto;
    font-size: 0.85rem;
}

#locationInfo h3{
    font-family: var(--header-font);
}

#eatCardContainer, #activityCardContainer{
    overflow-x: auto;   
}

.monoText{
    font-family: monospace;
    font-size: 0.8rem;
}