/* Universal Settings */
:root {
    scroll-behavior: smooth;
    /* fonts */
    --body-font: 'Noto Sans', sans-serif;
    --header-font: 'Cabinet Grotesk', 'Noto Sans', sans-serif;
    /* colours */
    --colPrimary: #8c98c8;
    --colPrimaryDark: #525871;
    --colSecondary: #566a79;
    --colSecondaryDark: #566a79;
    --colHighlight: #ffe7c1;
    --colAccent: #39a7a4;
    --colContrast: #fb3333;
    --colBgDark: #2c2a2b;
    --colBgLight: #e4ded8;
}

* {
    font-family: var(--body-font);
    transition: ease 0.5s;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: var(--header-font);
}

/* Navbar  */
.nav-link {
    color: var(--bs-body-color);
}

.nav-link:hover {
    color: white;
}

/* Jumbotron  */
.jumboBackground {
    background-image: url(../images/dddepth-230.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pageTitle{
    font-family: 'Pally', sans-serif;
    font-size: calc(30px + 2vw);
    color: var(--colPrimaryDark);
}

#homecontainer{
    background-color: var(--colBgLight);
    background-image: url(../images/Dog_Silhouette_PNG_Transparent_Clip_Art_Image.png);
    background-size: cover;
    background-position: center;
}

/* Second page */
#secondPage {
    min-height: 100vh;
    font-weight: 300;
}

#locationInfo,
#map {
    overflow-y: auto;
    font-size: 0.85rem;
}

#locationInfo h3 {
    font-family: var(--header-font);
}

#todayWeather {
    text-align: center;
}

#eatCardContainer,
#activityCardContainer {
    overflow-x: auto;
}

.monoText {
    font-family: monospace;
    font-size: 0.8rem;
}

/* Animations / Transitions */
.cityBackground .btn {
    background-color: var(--colContrast);
    transition: 0.5s ease-in-out;
}

.cityBackground .btn:hover {
    scale: 1.2;
    transition: 0.5s ease-in-out;
}

#navLogo, #coverLogo {
    transition: 0.5s ease;
}

#navLogo:hover, #coverLogo:hover {
    scale: 1.2;
    rotate: 20deg;
    transition: 0.5s ease;
}

nav ul {
    background-color: rgba(var(--bs-light-rgb), 0.5);
}

nav ul:hover {
    background-color: rgba(var(--bs-light-rgb), 1);
}