/* Fonts
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'SF Pro' (using their public use name 'BlinkMacSystemFont'
*/

/* Universal Settings */
:root{
    scroll-behavior: smooth;
    --body-font: '-apple-system, BlinkMacSystemFont, sans-serif'
    --header-font: '-apple-system, BlinkMacSystemFont, sans-serif'
}

*{
    font-family: var(--body-font);
}

/* Navbar  */
.customNav {
    padding: 20px;
}

/* Jumbotron  */
.cityBackground {
    height: calc(100vh - 25px);
    background-image: url(../images/background-image-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customJumbo {
    height: 80%;
    padding: 10px;
    text-align: center;
}

#logo {
    height: 80%;
    align-items: center;
}

.search-area {
    background-color: #EDEDE3;
    width: 80%;
    max-width: 680px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 25px;
}

.btn {
    background-color: #83C2AF;
    border: none;
}

#searchButton {
    margin-top: 15px;
}

/* Second page */
#secondPage{
    height: 100vh;
    font-weight: 300;
    font-size: 45px;
}

#locationInfo{
    height: 80vh;
}

#locationInfo h3{
    font-family: var(--header-font);
}

#mapArea{
    height: 80vh;
    background-image: url(../images/PLACEHOLDER\ mapAreaImage.png);
    background-position: center;
    background-size: cover;
}

#locationImage{
    background-image: url(../images/PLACEHOLDER\ locationInfoImage.jpg);
    background-position: center;
    background-size: cover;
}